body , html {
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Avenir Next";
}

header {
  background-color: black;
  color: white;
  height: 65px;
}
.header-logo {
  font-size: 20px;
  font-weight: bold;
  padding-top: 17px;
  padding-left: 17px;
  float: left;
}
.header-logo a {
  color: white;
  text-decoration: none;
}

.menu-btn {
  position: fixed;
  top: 8px;
  right: 11px;
  display: flex; /* これにより柔軟に伸びる？ */
  height: 50px;
  width: 50px;
  justify-content: center;/* 伸びても真ん中に配置 */
  align-items: center;/* アイテムの交差軸方向の配置として真ん中に配置 */
  border-radius: 10px;
  z-index: 90;/* 数が大きいほど重ね順が上位に配置 */
  background-color: black;
}

/* spanとそのbefore、afterはハンバーガーメニューの三本線のそれぞれを表す。文章としては存在しないためコピー不可。 */
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: "";/* 要素内に挿入する文字列は無し */
  display: block;
  height: 2px;
  width: 17px;
  border-radius: 3px;
  background-color: #fff;
  position: absolute;/* スクロールしても位置が変わらない（絶対位置） */
}
.menu-btn span:before {
  bottom: 7px;
}
.menu-btn span:after {
  top: 7px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
  /* メニューボタンが押されチェックボックスにチェックが入った時は真ん中の線を透明(Alphaを0)にする */
}

#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
  /* 位置を真ん中に戻し45度(degrees)回転(rotate)する */
}

#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
  /* チェックボックスを隠す */
}

.menu-content {
  font-weight: bold;
  width: 30%;
  height: 100%;
  position: fixed;
  left: 100%;
  /* 画面外までメニューを飛ばす（非表示） */
  right: 0;
  bottom: 0;
  z-index: 80;
  background-color: black;
  transition: all 0.6s;
}
#menu-btn-check:checked ~ .menu-content {
  bottom: 0;
  left: 70%;
  /* チェックされた時は画面に戻ってくる（表示） */
}
.menu-content ul {
  padding: 70px 10px 0;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  padding: 9px 15px 10px 20px;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

main {
  max-width: 780px;
  margin: 0 auto;
  padding: 30px 50px;
  height: 624px;
}

h1 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
  padding-left: 5px;
}

.article {
  float: left;
  height: 80px;
  width: 20%;
  background-color: #f7f6fb;
  border-radius: 30px;
  padding: 25px;
  margin: 10px 20px 20px 20px;
}
.article p {
  color: #898989;
  font-size: 13px;
}
.article h3 {
  color: black;
  font-size: 13px;
}
.article a {
  text-decoration: none;
}
.article-empty {
  height: 80px;
  width: 20%;
  background-color: #fafdff;
  border-radius: 30px;
  padding: 25px;
  float: left;
  margin: 10px 20px;
}
.article-empty p {
  color: #898989;
  font-size: 13px;
}
.article-empty h3 {
  color: #898989;
  font-size: 13px;
  font-weight: lighter;
}

footer {
  position: fixed;
  bottom: 13px;
  right: 11px;
  height: 15px;
  width: 117px;
  z-index: 89;
  border-radius: 10px;
  padding: 20px 24px 22px 24px;
  background-color: black;
  color: white;
}

.address {
  float: left;
} 

.copyright {
  float: right;
  font-size: 15px;
}